@model SoulSisterSite.Models.Recipe

@{
    ViewData["Title"] = "View";
}

<h1>Add Recipe</h1>
<hr />
<form asp-action="Create" id="form">
    <div>
        <textarea type="text" name="recipe" style="width:100%; min-height:200px"> </textarea>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
