@model IEnumerable<Recipe>
@{
    ViewBag.Title = "Recipe";
}

<h2>Recipe Index</h2>

<ul>
    @foreach (var recipe in Model) {
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Recipe" asp-route-id="@recipe.ID">@recipe.Name</a></li>
    }
</ul>