@model IEnumerable<Recipe>
@{
    ViewBag.Title = "Recipe";
}

<h2>Recipes</h2>

<ul>
    @foreach (var recipe in Model) {
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@recipe.ID"><b>@recipe.Name</b> Serves: @recipe.Serves Takes: @recipe.Duration</a></li>
    }
</ul>